name: Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint_and_test:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10']
        #  macos did not support m1 for now
        os: [ubuntu, windows, macos]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set Variables
        id: set_variables
        shell: bash
        run: |
          echo "PY=$(python -c 'import hashlib, sys;print(hashlib.sha256(sys.version.encode()+sys.executable.encode()).hexdigest())')" >> $GITHUB_OUTPUT
          echo "PIP_CACHE=$(pip cache dir)" >> $GITHUB_OUTPUT
      - name: Cache PIP
        uses: actions/cache@v3
        with:
          path: ${{ steps.set_variables.outputs.PIP_CACHE }}
          key: ${{ runner.os }}-pip-${{ steps.set_variables.outputs.PY }}
  
      - name: Setup ffmpeg for differnt platforms 
        uses: FedericoCarboni/setup-ffmpeg@v3

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install pytest
      - name: Run Test
        run: pytest test/
